/* header{
    background-color:beige
} 
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}*/
ul li{
    list-style: none;
    cursor: pointer;
    position:relative;
}
ul li::before{
    content:'';
    background-image: url(radio-button.png);
    position: absolute;
}
ul li.checked{
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(checked.png);
}